# Node.js dependencies
node_modules/
api/node_modules/
client/node_modules/

# Environment variables
.env
api/.env
client/.env

# Build files
client/dist/
client/build/

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log
